.listItem {
	min-width: 100%;
}

.button {
	display: grid;
	grid-template-columns: 20% 1fr 1rem;
	align-items: center;
	padding: 0.5rem 1rem;
	width: 100%;
	opacity: 0.6;
	gap: 2rem;
}

.active,
.button:hover {
	opacity: 1;
}

@media (max-width: 768px) {
	.button {
		gap: 1rem;
	}
}
