.section {
	width: 100%;
	max-width: 40rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.bar,
.progress {
	height: 0.5rem;
	border-radius: 1rem;
}

.bar {
	width: 65%;
	background-color: var(--color-darkblue);
	position: relative;
}

.progress {
	background-color: var(--color-white);
	position: absolute;
}

@media (max-width: 375px) {
	.section {
		gap: 0.5rem;
	}
}
