.section {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 30rem;
}

.play {
	height: 4rem;
	width: auto;
}

.previous,
.next {
	height: 2rem;
	width: auto;
}

.repeat,
.shuffle {
	height: 1.5rem;
	width: auto;
}

@media (max-width: 375px) {
	.section {
		gap: 1rem;
	}
}
