.button {
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
}

.button:hover {
	opacity: 0.15;
}

.inverted {
	background-color: var(--color-white);
	color: var(--color-blue);
}

.transparent {
	opacity: 0.15;
}

.transparent:hover {
	opacity: 1;
}
